* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono NF Medium";
    font-weight: 600;
    font-size: 16px;

    border-radius: 14px;
    text-shadow: none;

    transition-property: background;
    transition-duration: 0.2s;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
	margin-top: 6px;
	background: rgba(16, 20, 24, 0.5);
	transition: none;

    font-size: 12px;
}

#workspaces button {
    border: none;
    padding: 0 10px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.5);
}

#workspaces button.active {
    background: #fff9bb;
    color: #000000;
}

#workspaces button.active:hover {
    background: #fffcdf;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#bluetooth,
#battery,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#window {
    margin-top: 6px;
    padding: 0 12px;
    color: #ffffff;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > * {
    margin-left: 16px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > * {
    margin-right: 16px;
}

#clock {
    background-color: rgba(16, 20, 24, 0.5);
    color: #eefff1;
}

#cpu {
    background-color: rgba(16, 20, 24, 0.5);
    color: #fe968b;
}

#memory {
    background-color: rgba(16, 20, 24, 0.5);
    color: #ffeaaa;
}

#pulseaudio {
    background-color: rgba(16, 20, 24, 0.5);
    color: #b0f5e5;
}

#network {
    background-color: rgba(16, 20, 24, 0.5);
    color: #97bbff;
}

#battery {
    background-color: rgba(16, 20, 24, 0.5);
    color: #92e7b1;
}

#bluetooth {
    background-color: rgba(16, 20, 24, 0.5);
    color: #87ddff;
}

#tray {
    background-color: rgba(16, 20, 24, 0.5);
}

#window {
    font-family: 'JetBrainsMono NF Bold';
    font-weight: 500;
    background-color: rgba(16, 20, 24, 0.5);
    color: #cbecff;
}
